@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans");

::selection {
  color: white;
  background-color: #1f293799;
}

body {
  margin: 0;
  padding: 0;
}
